services:
  db:
    image: mysql:latest
    volumes:
      - ./sql/db_data:/var/lib/mysql
      - ./sql/_init_sql:/docker-entrypoint-initdb.d
      - ./sql/mysql/mysqld.cnf:/etc/mysql/conf.d/mysqld.cnf
    container_name: stock-price-repository-db
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: $STOCK_PRICE_REPOSITORY_MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: $STOCK_PRICE_REPOSITORY_MYSQL_DBNAME
      MYSQL_USER: $STOCK_PRICE_REPOSITORY_MYSQL_USER
      MYSQL_PASSWORD: $STOCK_PRICE_REPOSITORY_MYSQL_PASSWORD
      MYSQL_CHARSET: utf8mb4
      MYSQL_COLLATION: utf8mb4_general_ci
      TZ: $STOCK_PRICE_REPOSITORY_MYSQL_TIMEZONE
  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    container_name: stock-price-repository-redis

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - '8080:8080'
    environment:
      - APP_ENV=local
      - APP_LOG_LEVEL=debug
      - APP_TIMEZONE=Asia/Tokyo
      - STOCK_PRICE_REPOSITORY_MYSQL_HOST=db
      - STOCK_PRICE_REPOSITORY_MYSQL_PORT=3306
      - STOCK_PRICE_REPOSITORY_MYSQL_DBNAME=${STOCK_PRICE_REPOSITORY_MYSQL_DBNAME}
      - STOCK_PRICE_REPOSITORY_MYSQL_USER=${STOCK_PRICE_REPOSITORY_MYSQL_USER}
      - STOCK_PRICE_REPOSITORY_MYSQL_PASSWORD=${STOCK_PRICE_REPOSITORY_MYSQL_PASSWORD}
      - REDIS_HOST=redis:6379
    volumes:
      - .:/app
      - /app/sql/db_data
    depends_on:
      - db
      - redis
    restart: unless-stopped
    container_name: stock-price-repository-api

  grpc-server:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    ports:
      - '50051:50051'
    environment:
      - APP_ENV=local
      - APP_LOG_LEVEL=debug
      - APP_TIMEZONE=Asia/Tokyo
      - GRPC_PORT=50051
      - STOCK_PRICE_REPOSITORY_MYSQL_HOST=db
      - STOCK_PRICE_REPOSITORY_MYSQL_PORT=3306
      - STOCK_PRICE_REPOSITORY_MYSQL_DBNAME=${STOCK_PRICE_REPOSITORY_MYSQL_DBNAME}
      - STOCK_PRICE_REPOSITORY_MYSQL_USER=${STOCK_PRICE_REPOSITORY_MYSQL_USER}
      - STOCK_PRICE_REPOSITORY_MYSQL_PASSWORD=${STOCK_PRICE_REPOSITORY_MYSQL_PASSWORD}
      - REDIS_HOST=redis:6379
    volumes:
      - .:/app
      - /app/sql/db_data
    depends_on:
      - db
      - redis
    restart: unless-stopped
    container_name: stock-price-repository-grpc

volumes:
  db_data:
